@import "../../util/style/components";
@import "../../util/style/variables";

.nav {
    position: sticky;
    @include flexBox(column);
    justify-content: space-between;
    height: 96vh;
    margin: 15px;
    box-sizing: border-box;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: $box-shadow;
    #{&}__upper {
        // align-items: center;
    }
}
.nav__logo {
    @include flexCenter;
    margin-top: 10px;
    margin-bottom: 20px;
}
.nav__icon {
    color: $color-icon-btn;
}
.nav__btns:hover .nav__BoxContent,
.nav__btns:hover .nav__icon {
    color: white;
}
.nav__BoxContent {
    margin-top: 7px;
    font-size: 10px;
    color: $color-txt-secondary;
}
.nav__footer,
.nav__itemBox {
    @include flexCenter;
}
