$color-red: #fb312f;
$color-red-light-1: #f95351;
$color-red-light-2: #f77e7e;
$color-red-light-3: #fec7c7;
$color-red-white: #faf6f5;
$color-red-txt: #e54645;
$color-green: #48b375;
$color-green-txt: #49a571;
$color-green-btn-bg: #e3f5eb;
$color-red-btn-bg: #f7e5e5;
$color-purple: #484879;
$color-purple-btn-bg: #ddddee;
$color-background: #f2f4f5;
$color-txt-secondary: #8b919d;
$color-dark-bg: #272b2e;
